<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>edit</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex input-group w-auto">
      <input
              type="search"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
      />
      <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
    </form>
  </div>
</nav>
<!--    Body    -->
<div class="container">
<form action="/edit"  method="post" enctype="multipart/form-data">
  <label for="basic-url" class="form-label">New Article</label>
  <input th:field="${article.title}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  <label for="basic-url" class="form-label">Description</label>
  <div class="form-floating">
    <textarea th:field="${article.description}" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px" th:text="description"></textarea>
  </div>
  <img src="..." class="img-thumbnail" alt="...">
  <div class="mb-3 d-print-inline">
    <label for="formFile" class="form-label">Please input image here</label>
    <input class="form-control" type="file" id="formFile">
    <a th:href="@{index}"><button type="submit" class="btn btn-primary" >Submit</button></a>
  </div>
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>