<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homework 02</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Navbar</a>
            <form class="d-flex input-group w-auto">
                <input
                        type="search"
                        class="form-control rounded"
                        placeholder="Search"
                        aria-label="Search"
                        aria-describedby="search-addon"
                />
                <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
            </form>
        </div>
    </nav>
<!--    Body    -->
    <div class="container">

        <div class="d-inline-block">
            <a th:href="@{newArticle}"><button type="button" class="btn btn-primary" >Create new Article</button></a>
            <a th:href="@{#}">English</a>
            <a th:href="@{#}">Korean</a>
            <a th:href="@{#}">Khmer</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{title}">title</th>
                <th scope="col" th:text="#{description}">description</th>
                <th scope="col" th:text="#{image}">image</th>
                <th scope="col" th:text="#{action}" th:width="50px" height="50px">action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article:${articles}" th:object="${article}">
                <th scope="row" th:text="*{id}"></th>
                <td th:text="*{title}"></td>
                <td th:text="*{description}"></td>
                <td ><img th:src="'/images/'+ *{img}" alt="this is a image" ></td>
                <td>
                    <a th:href="@{/{id}/view(id=*{id})}" ><button type="button" class="btn btn-success">View</button></a>
                    <a  th:href="@{/{id}/edit(id=*{id})}" ><button type="button" class="btn btn-warning">Edit</button></a>
                    <form th:action="@{/{id}/delete(id=*{id})}" method="get">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>